* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: #343541;
  position: relative;
  color: #343541;
}
.overlay{
  position: absolute;
  width: 100%; height: 100%; 
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  /* display: none; */
  z-index: 3;
}
h1{
 
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
main{
  height: 100vh;
  /* overflow: scroll; */

}
.app {
  background-color: #fff;
  /* overflow: hidden; */
  height: 80vh;
  /* position: relative; */
  z-index: -1;
 
}
h2,p{
  text-align: center;
}
.displayResponse{
 overflow: scroll;
 height: 100%;
 width: 70%;
    padding: 30px;
    margin: 0 auto;
  
}
.displayResponse p{
  text-align: left;
  margin-bottom: 20px;

 
}
span{
  display: block;
  margin: 10px 0;
}
img{
  display: block;
  margin-bottom: 10px;
  width: 40px;
  margin-left: -6px;

}
.chat-content{
  position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .app p{
  margin: 15px 0;
 
}

.inputContainer {
  position: relative;
  width: 100%;
 
  
}

.apiContainer{
position: relative;
}
.api-key-container{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
input[type="password"] {
  width: 100%;
  
  font-size: 20px;
  display: flex;
  align-items: end;
  padding: 10px 12px;
}
label {
  color: #fff;
  margin: 10px 0;
  display: block;
}
input[type="text"] {
    position: relative;
  width: 100%;
  display: block;
  border: none;
  font-size: 20px;
  padding: 12px 15px;
  /* background-color: rgba(255,255,255,0.5); */
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}
input:focus {
  outline: none;
}

button {
  position: absolute;
  right: 5px;
  top: 25px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
